<html>

<head>
<title>INPUT PAGE</title>
</head>
<body>
	<style>
   	input{
        margin-right: 20px;
		margin-left: 20px;
    }
    </style>
	<form action="/testpage2" method="post">
	<div>
		
		<label id="input1">Name:</label>
		<input type="text" id="input1" name="textinput1">
	
		</div><br>
	<div>
		<label id="pass">Password:</label>
		<input type="text" id="pass" name="textinput2">
		
	</div><br>
	<div>
		<label id="gen">Gender</label>
		<input type="text" name="textinput3" id="gen">
		
	</div><br>
	<div>
		<button type="submit">Send</button></div>
		
		</form>
</body>
</html>